.container{
  width: 100%;
  background-color: #F9F6EF;
  border: #a3aaae;
  border-style: double;
  text-align: center;
}

.header{
    background-color: #F9F6EF !important;
    border: #a3aaae;
    border-style: double;
    text-align: center;
}


