<html>
  <body>
    <div class="row">
      <div class="header">
        <input
          type="search"
          #searchBox
          (keyup)="search(searchBox.value)"
          class="form-control input-lg well"
          placeholder="Type to search for song..."
        />
      </div>
    </div>
    
        <h3>Search Results</h3>

        <div class="row">
          <div class="col-4" *ngIf="searchResults.length > 0">
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile *ngFor="let song of searchResults[1]">
                <div class="col-5" >
                  <div class="card">
                    <h5 class="card-title">{{ song.trackName }}</h5>
                    <img
                      src="{{ song.artworkUrl100 }}"
                      alt="Image not found"
                      onerror="this.onerror=null;this.src='https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-music-notes-icon-png-image_4184656.jpg';"
                    />
                    <div class="card-body">
                      <div>
                        <p>Artist: {{ song.artistName }}</p>
                        <p>Album: {{ song.collectionName }}</p>
                        <p>Release Date: {{ song.releaseDate }}</p>
                        <p>Song Price: {{ song.trackPrice }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-grid-tile>
              
            </mat-grid-list>

            
          </div>
        </div>
      <div class="spacer"></div>
  </body>
</html>
