.card{
    border: 5px double #A3AAAE !important;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px !important;
    margin-bottom: 3rem;
    max-width: 500px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: solid;
    color:  #A3AAAE;
    padding: 5px;
}

.card-title{
    font-size: 25px;
    background-color: #F9F6EF;
    color: black;
    outline: #a3a3a3 4px solid !important;
    height: 50px;
    position: relative;
    top: 33%;
    text-align: center;
}

html { 
    background: black no-repeat 
      center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

img{
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
    border: #A3AAAE 3px solid !important ;
    border-radius: 5px;
  
}

.header {
    width: 100%;
    background-color: #F9F6EF;
    text-align: center;
}

input{
    width: 50%;
    margin: 1rem;
    font-size: 20px;
    border-radius: 5px;
    border-color: #A3AAAE;
}

h3{
    color: #A3AAAE;
}

.spacer{
    background-color: black;
    height: 100px;
}

.content{
    border-top: #A3AAAE 3px solid!important;
    
}

mat-grid-tile{
    color:#A3AAAE;
}